@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
blockquote,
q {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  quotes: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  background: #141414 url(//d2g83xhm015jzr.cloudfront.net/images5/generalBodyBg.png) repeat-x;
    font-family: 'Abhaya Libre', serif;
  color: #999999;
  line-height: 1.5em;
}
header,
footer,
nav,
section,
article,
aside,
details {
  display: block;
}
a {
  color: #ffcc22;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
h1 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
}
h2 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 1.375em;
  line-height: 1.0909em;
}
h3 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.2em;
}
h4 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.333em;
}
h5,
h6 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
}
p {
  margin-bottom: 24px;
}
input,
select {
  font-size: 14px;
  color: #666666;
  background: #000000;
  border: 0;
  padding: 10px;
  margin: 0;
}
textarea {
  font-size: 14px;
  color: #666666;
  background: #000000;
  border: 0;
  padding: 10px;
  margin: 0;
  width: 600px;
  height: 20px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
  display: block;
}
* html .clearfix {
  height: 1%;
}
a.tw-blue {
  color: #3ecfff;
}
a.tw-blue:hover {
  color: #ffffff;
}
a.ud-green {
  color: #8bbb27;
}
a.ud-green:hover {
  color: #ffffff;
}
a.aw-orange {
  color: #ff5d2a;
}
a.aw-orange:hover {
  color: #ffffff;
}
.hiddenSubmit {
  position: absolute !important;
  left: -99999px !important;
  width: 0 !important;
}
.oyh {
  overflow-y: hidden;
}
.rotating {
  text-indent: -99999px;
  *text-indent: 0px;
  background-position: bottom left !important;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
}
.rotating span {
  position: absolute;
  display: block;
  background-position: top left !important;
  background-repeat: no-repeat;
}
#ribbon {
  display: block;
  display: none;
  width: 69px;
  height: 115px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0 0 0 -69px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/sotd.png) no-repeat;
  z-index: 2;
  text-indent: -999999px;
}
#getSite {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 45px;
  left: 0;
  overflow: auto;
  z-index: 998;
  background: #000000;
  display: none;
}
#back {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  background: #000000;
  -moz-box-shadow: 0 2px 2px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}
#back a {
  display: block;
  float: left;
  margin: 10px;
  padding: 5px 20px;
  background: #ffcc00;
  color: #000000;
  font-size: 13px;
}
#back a:hover {
  color: #ffffff;
}
#content {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/generalHtmlBg.png);
  margin-top: 5px;
}
#light {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/generalLight.png) no-repeat center top;
}
#contentWrapper {
  overflow: hidden;
}
#contentWrapper h1 span {
  display: block;
  height: 130px;
  text-indent: -99999px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/titleBg.png) no-repeat;
}
#contentHeader {
  height: 154px;
}
#logo {
  margin-top: 65px;
  height: 22px;
  background-image: url(//d2g83xhm015jzr.cloudfront.net/images5/generalLogo.png);
  float: left;
  width: 350px;
}
#menu {
  margin-top: 70px;
  float: left;
  margin-left: 190px;
}
#menu ul li {
  float: left;
  padding: 0 15px;
}
#menu ul li p {
  float: left;
  width: 16px;
  height: 11px;
  overflow: hidden;
  cursor: default;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
#menu ul li p.p1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuArr1.png) no-repeat;
  background-position: 16px 0px;
}
#menu ul li p.p2 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuArr2.png) no-repeat;
  background-position: -16px 0px;
}
#menu ul li a {
  float: left;
  height: 11px;
  padding-top: 2px;
}
#menu ul li a#menuWorks {
  width: 36px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuWorks.png);
}
#menu ul li a#menuCodeSamples {
  width: 87px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuCodeSamples.png);
}
#menu ul li a#menuInfo {
  width: 28px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuInfo.png);
}
#menu ul li a#menuBlog {
  width: 31px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuBlog.png);
}
#menu ul li a#menuContact {
  width: 56px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/menuContact.png);
}
#menu ul li:first-child {
  margin-left: 42px !important;
}
#menu ul li:hover p {
  background-position: 0 !important;
}
#menu ul li.current {
  margin: 0 7px;
}
#menu ul li.current .p1 {
  background-position: 4px 0px !important;
}
#menu ul li.current .p2 {
  background-position: 0px 0px !important;
}
#menu ul li.current a span {
  display: none;
}
#networks {
  margin-top: 70px;
  float: right;
}
#networks a {
  float: right;
  display: block;
  width: 14px;
  height: 11px;
  margin-left: 7px;
}
#networks a#n1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/networksLinkedin.png);
}
#networks a#n2 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/networksFacebook.png);
}
#networks a#n3 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/networksTwitter.png);
  margin-left: 0;
}
#home h1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/pageTitleHello.png) no-repeat;
}
#home #shortInfo {
  margin-top: 35px;
  line-height: 30px;
  line-height: 38px;
  font-size: 30px;
}
#home #shortInfo .text1 {
  color: #e1e1e1;
}
#home #shortInfo .text2 {
  color: #666666;
  margin-bottom: 30px;
}
#home #shortInfo .text2 article {
  color: #666666;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 30px;
  text-indent: 80px;
}
#home #shortInfo .text2 article #q1 {
  width: 62px;
  height: 55px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/quotes1.png) no-repeat;
  position: absolute;
  margin: -20px 0 0 0;
  display: block;
}
#home #shortInfo .text2 article #q2 {
  width: 45px;
  height: 40px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/quotes2.png) no-repeat;
  position: absolute;
  margin: 17px 0 0 12px;
}
#home #shortInfo .text3 {
  font-size: 20px;
  color: #ffffff;
}
#home #shortInfo .thanks {
  margin-top: 20px;
}

#home #latest-work {
  margin-top: 30px;
}
#home #twitterAndBlog {
  margin: 35px 0;
  overflow: hidden;
}
#home #twitterAndBlog #twitterPost {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/iconTwitter.png) no-repeat 5px 0px;
  font-style: italic;
  line-height: 18px;
  float: left;
  padding-left: 80px;
  max-width: 640px;
}
#home #twitterAndBlog #twitterPost article {
  font-size: 12px;
}
#home #twitterAndBlog #twitterPost p {
  width: 100%;
  float: left;
  clear: both;
}
#home #twitterAndBlog #twitterPost h3 {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}
#home #twitterAndBlog #twitterPost h3 span {
  color: #6eb0cb;
}
#home #twitterAndBlog #twitterPost a {
  color: #6eb0cb;
}
#home #twitterAndBlog #twitterPost a:hover {
  color: #ffffff;
}
#home #twitterAndBlog #blogPosts {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/iconBalloon.png) no-repeat 30px 0px;
  font-size: 11px;
  color: #666666;
  line-height: 18px;
  padding-left: 80px;
  margin-left: 700px;
}
#home #twitterAndBlog #blogPosts a {
  color: #999999;
}
#home #twitterAndBlog #blogPosts a:hover {
  color: #ffffff;
}
#home #twitterAndBlog #blogPosts h3 {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 0;
}
#home #twitterAndBlog #blogPosts h3 span {
  color: #229dc5;
}
#home #twitterAndBlog #blogPosts dl {
  margin-top: 5px;
}
#latest-work h4 {
  font-size: 30px;
  color: #ffffff;
}
#latest-work .container {
  margin-top: 10px;
}
#latest-work .container figure {
  position: relative;
  float: left;
  width: 714px;
  height: 300px;
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  margin: 0px;
}
#latest-work .container figure p {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 694px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  margin-bottom: 0;
}
#latest-work .container figure p span {
  color: #ffffff;
  display: block;
  float: left;
}
#latest-work .container figure p a {
  font-size: 19px;
  float: left;
  clear: both;
  margin-top: -10px;
}
#latest-work .container #latest-work-details {
  float: left;
  width: 200px;
  color: #666666;
  font-size: 14px;
  line-height: 120%;
  margin-left: 20px;
}
#latest-work .container details .tags {
  color: #ffffff;
}
#latest-work .container details .tags a {
  text-transform: uppercase;
  font-size: 11px;
}
#latest-work-details .title {
  color: #ffffff;
  margin-bottom: 2px;
  font-size: 14px;
}
#latest-work-details p {
  font-size: 13px;
}
#works h1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/pageTitleWorks.png) no-repeat;
}
#works #workList > article {
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 0 30px 63px;
}
#works #workList > article .mask {
  position: relative;
  height: 282px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/workBg.png);
  border: 1px solid #000000;
  overflow: hidden;
}
#works #workList > article .mask .year {
  position: absolute;
  width: 105px;
  margin: 245px 0 0 158px;
  font-size: 50px;
  color: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
}
#works #workList > article .mask .ss {
  float: left;
  width: 218px;
  height: 135px;
  background-repeat: no-repeat !important;
  text-indent: -99999px;
  margin-bottom: 0;
}
#works #workList > article .mask .innerMask {
  position: relative;
  float: left;
  width: 188px;
  height: 23px;
  margin: 10px 0 0 15px;
  overflow: hidden;
  font-size: 12px;
  color: #999999;
  z-index: 1;
}
#works #workList > article .mask .innerMask h2 {
  font-size: 18px;
  color: #ffcc00;
  margin-bottom: 2px;
  text-transform: uppercase;
  line-height: 21px;
}
#works #workList > article .mask .innerMask p {
  font-size: 10px;
}
#works #workList > article .mask .innerMask p b {
  font-size: 10px;
}
#works #workList > article .mask .innerMask p.short {
  font-style: italic;
  font-size: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 16px;
}
#works #workList > article .mask .innerMask p.long {
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 13px;
}
#works #workList > article .mask .innerMask .launch {
  position: absolute;
  margin-top: 240px;
  font-size: 14px;
  text-decoration: none;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/workArrow.png) no-repeat 60px 7px;
  width: 100px;
  color: #ffcc00;
}
#works #workList > article .mask .innerMask .tags {
  margin: 0;
}
#works #workList > article .mask .tags {
  position: relative;
  float: left;
  width: 188px;
  margin: 13px 0 0 15px;
  z-index: 1;
}
#works #workList > article .mask .tags h4 {
  font-size: 9px;
  color: #666666;
  font-weight: normal;
  margin-bottom: 5px;
}
#works #workList > article .mask .tags ul li {
  float: left;
}
#works #workList > article .mask .tags ul li a {
  display: block;
  padding: 2px 5px;
  background: #252525;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 2px 2px 0 0;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.2em;
}
#works #workList > article .mask .tags ul li a:hover {
  background: #000000;
  color: #fecb00;
}
#works #workList > :nth-child(4n + 1) {
  margin-left: 0;
}
#works #workList > :nth-child(4n) {
  margin-right: 0;
}
#code-samples h1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/pageTitleCodeSamples.png) no-repeat;
}
#code-samples ul {
  width: 100%;
  margin-top: 40px;
  min-height: 400px;
}
#code-samples ul li {
  width: 290px;
  overflow: hidden;
  float: left;
  margin: 0 0 35px 35px;
  background: #ffffff;
  -moz-transition: background 1s ease;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: all 0.3s ease;
}
#code-samples ul li:hover {
  background: #f4f0f0;
}
#code-samples ul li:nth-child(3n-2) {
  margin-left: 0;
}
#code-samples .details {
  padding: 5px 10px;
  float: left;
}
#code-samples h2 {
  font-size: 12px;
  color: #000000;
  font-style: italic;
  margin-bottom: 5px;
}
#code-samples h3 {
  font-size: 10px;
  color: #333333;
  font-style: italic;
  line-height: 12px;
  margin-bottom: 5px;
}
#code-samples a {
  font-size: 11px;
  color: #ffffff;
  font-style: italic;
  padding: 1px 5px;
  margin-top: 5px;
  float: left;
  background: #666666;
  -moz-transition: background 1s ease;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: all 0.3s ease;
  line-height: 20px;
}
#code-samples a:hover {
  background: #000000;
}
#code-samples a.launch {
  margin-right: 10px;
}
#info h1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/pageTitleInfo.png) no-repeat;
}
#info .hi {
  margin-top: 40px;
}
#info .im {
  margin-top: 10px;
  font-size: 30px;
  color: #ffffff;
}
#info .long {
  color: #ffffff;
  font-size: 14px;
}
#info .long p {
  line-height: 25px;
}
#info .also {
  font-size: 31px;
}
#info .also a {
  position: relative;
  z-index: 1;
}
#info .also a:hover {
  color: #ffffff;
}
#info .also .lin {
  color: #0099cc;
}
#info .also .fac {
  color: #3366cc;
}
#info .also .twi {
  color: #33cccc;
}
#info .also .beh {
  color: #0066ff;
}
#info .also .last {
  color: #d61102;
}
#info .also .rss {
  color: #ffcc00;
}
#info .also .arr {
  position: absolute;
  display: inline !important;
  width: 483px;
  height: 0px;
  margin: -20px 0 0 -60px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/infoArr.png) no-repeat;
  text-indent: -99999px;
  z-index: 0;
}
#info .cv {
  width: 113px;
  height: 60px;
  margin: 40px 0;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/infoCv.png);
}
#blog h1 {
  height: 130px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/pageTitleBlog.png) no-repeat;
  text-indent: -99999px;
}
#contact h1 {
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/pageTitleContact.png) no-repeat;
}
#contact h2 {
  font-size: 30px;
}
#contact h3 {
  font-size: 28px;
}
#contact input {
  width: 600px;
  height: 20px;
}
#contact .ways {
  margin-top: 30px;
  font-size: 16px;
  color: #ffffff;
}
#contact .ways span {
  color: #999999;
}
#contact .ways #chat {
  width: 98px;
  height: 27px;
  position: absolute;
  margin: -2px 0 0 5px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/contactSkypeChat.png) no-repeat;
  text-indent: -99999px;
  display: inline;
}
#contact .more {
  margin: 30px 0 60px 0;
}
#contact .more .form {
  z-index: 1;
}
#contact .more .form form {
  float: left;
  *min-height: 100px;
}
#contact .more .form form textarea {
  height: 110px;
  overflow: auto;
}
#contact .more .form form p {
  position: relative;
  margin-bottom: 10px;
}
#contact .more .form form p sub {
  font-size: 11px;
  display: block;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 185px;
  height: 42px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/contactBalloon.png) no-repeat;
  color: #ffffff;
  text-indent: 10px;
  line-height: 30px;
  z-index: 2;
  margin: -20px 0 0 590px;
}
#contact .more .form form p#sent {
  background: #000000;
  width: 620px;
  height: 60px;
  line-height: 60px;
  text-indent: 20px;
  font-size: 24px;
  color: #ffffff;
  float: left;
}
#contact .more .form form .msgRow {
  margin-bottom: 0;
}
#contact .more .form form .sendRow {
  width: 620px;
  float: left;
  background: #000000;
  padding: 10px 0;
  margin-top: -4px;
  *margin-bottom: 60px;
}
#contact .more .form form .sendRow #loader {
  width: 16px;
  height: 16px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/contactLoader.gif) no-repeat;
  text-indent: -99999px;
  float: right;
  margin: 3px 5px 0 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
#contact .more .form form .submit {
  width: 59px;
  height: 19px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/contactSubmit.png);
  display: block;
  float: right;
  margin: 0px 10px 0 0;
}
#contact .more .vcard {
  overflow: hidden;
}
#contact .more .vcard .add {
  margin-left: 20px;
}
#contact .more .vcard a {
  width: 131px;
  height: 48px;
  margin-left: 20px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/contactVcard.png) no-repeat;
  margin-top: 20px;
}
#footer {
  height: 100px;
  border-top: 1px solid #000000;
}
#footer #footerWrapper {
  padding-top: 10px;
}
#footer #footerWrapper section {
  font-size: 9px;
  color: #666666;
  float: left;
}
#footer #footerWrapper section p {
  color: #333333;
  margin-top: 5px;
}
#footer #footerWrapper aside a {
  display: block;
  width: 94px;
  height: 12px;
  background: url(//d2g83xhm015jzr.cloudfront.net/images5/iconRss.png) no-repeat right;
  float: right;
  font-size: 9px;
  color: #666666;
}
#footer #footerWrapper aside a:hover {
  color: #fecb00;
}
.container_12 {
  width: 1070px;
  margin: auto;
}
@media (max-width: 480px) {
  #footer,
  #networks,
  #home #q1,
  #home #q2,
  #contentWrapper > .grid_12 > h1,
  #latest-work {
    display: none !important;
  }
  #content {
    padding: 0 10px;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
  }
  #contentHeader {
    height: 52px;
    border-bottom: 1px dotted #474747;
    padding-bottom: 5px;
  }
  #light {
    background: none;
  }
  #logo {
    background-image: url(//d2g83xhm015jzr.cloudfront.net/images5/generalLogo-retina.png);
    display: block;
    float: none;
    height: 17px;
    margin: 10px auto;
    width: 260px;
    background-size: 260px;
  }
  #logo span {
    display: none;
  }
  #contentWrapper,
  #contentHeader {
    width: auto !important;
  }
  #menu {
    float: none;
    margin: auto;
    text-align: center;
  }
  #menu ul li {
    display: inline-block;
    float: none !important;
    margin: 0;
  }
  #menu ul li:first-child {
    margin-left: 0 !important;
  }
  #menu ul li.current {
    margin: 0 !important;
  }
  #menu ul li.current a {
    color: #fff;
  }
  #menu ul li a {
    background: none !important;
    text-indent: 0;
    width: auto !important;
    height: auto;
    font-size: 11px;
  }
  #menu ul li a span {
    display: none !important;
  }
  #menu p {
    display: none;
  }
  #menu a {
    margin: 0 3px;
  }
  #home #shortInfo {
    margin-top: 14px;
    font-size: 13px;
    text-align: center;
    font-family: helvetica;
  }
  #home #shortInfo h2 {
    line-height: 5.6;
  }
  #home #shortInfo .text2 h3 {
    margin-bottom: 5px;
    font-size: 19px;
  }
  #home #shortInfo .text2 article {
    text-indent: 0;
    font-size: 17px;
    line-height: 1.2;
    margin-top: 0;
  }
  #home #twitterAndBlog {
    margin: 20px 0;
  }
  #home #twitterAndBlog > * {
    float: none !important;
    margin: 0 0 20px !important;
    width: auto !important;
    height: auto !important;
  }
  #works #workList {
    float: none !important;
    margin: 15px 0;
    text-align: center;
    width: auto;
  }
  #works #workList > article {
    display: inline-block;
    float: none;
    width: auto;
    margin: 0 0 10px 0 !important;
  }
  #works #workList > article:nth-child(odd) {
    margin-left: 0 !important;
  }
  #works #workList > article .mask .year {
    display: none;
  }
  #works #workList > article .mask .ss {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
  }
  #works #workList > article .mask .innerMask,
  #works #workList > article .mask .tags {
    width: 100% !important;
    margin: 5px;
  }
  #works #workList > article .mask .innerMask .launch {
    width: 70px;
    left: 0;
  }
  #code-samples ul {
    margin-top: 0;
  }
  #code-samples ul li {
    margin: 15px 0;
  }
  #info {
    text-align: center;
  }
  #info .im {
    font-size: 19px;
    font-family: helvetica;
  }
  #info .also {
    font-size: 18px;
  }
  #info .also .arr {
    display: none !important;
  }
  #contact h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  #contact .ways {
    font-size: 11px;
    margin: 0;
  }
  #contact input,
  #contact textarea,
  #contact .more .form form .sendRow {
    width: 100% !important;
    margin: 0 0 5px 0 !important;
    -moz-box-sizing: padding-box;
    min-height: 34px;
  }
  #contact .more .vcard {
    display: none;
  }
  #contact .more .form form {
    float: none;
  }
}
